In [6]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [7]:
# importing data
df = pd.read_csv(r'C:\Users\Maintenant prêt\Desktop\PROJECTS\Project5\Data\train.csv')

In [9]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [11]:
df.shape

(1017209, 9)

In [13]:
# Extracting weekdays, weekends, numbure of days to holidays, and number of days after holiday column fro Train_df
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.dayofweek
df['Weekend'] = df['Weekday'].apply(lambda x: 1 if x >= 5 else 0)
df['Days_to_Holiday'] = df['Date'] - df['Date'].min()
df['Days_to_Holiday'] = df['Days_to_Holiday'].apply(lambda x: x.days)
df['Days_after_Holiday'] = df['Date'].max() - df['Date']
df['Days_after_Holiday'] = df['Days_after_Holiday'].apply(lambda x: x.days)

In [15]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Weekday,Weekend,Days_to_Holiday,Days_after_Holiday
0,1,5,2015-07-31,5263,555,1,1,0,1,4,0,941,0
1,2,5,2015-07-31,6064,625,1,1,0,1,4,0,941,0
2,3,5,2015-07-31,8314,821,1,1,0,1,4,0,941,0
3,4,5,2015-07-31,13995,1498,1,1,0,1,4,0,941,0
4,5,5,2015-07-31,4822,559,1,1,0,1,4,0,941,0

In [17]:
# extract the begining of month, midel month, and end of month
df['Month_Begin'] = df['Date'].apply(lambda x: 1 if x.day == 1 else 0)
df['Month_Middle'] = df['Date'].apply(lambda x: 1 if x.day == 15 else 0)
df['Month_End'] = df['Date'].apply(lambda x: 1 if x.day == 31 else 0)

In [18]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Weekday,Weekend,Days_to_Holiday,Days_after_Holiday,Month_Begin,Month_Middle,Month_End
0,1,5,2015-07-31,5263,555,1,1,0,1,4,0,941,0,0,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1,4,0,941,0,0,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1,4,0,941,0,0,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1,4,0,941,0,0,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1,4,0,941,0,0,0,1

In [22]:
# Extract weeks from DayofWeek column
df['Week'] = df['Date'].dt.isocalendar().week
#Extract weekly sales
df['Weekly_Sales'] = df.groupby(['Store', 'Week'])['Sales'].transform('sum')
# Extract sales per customer, sales per day, and sales per week
df['Sales_per_Customer'] = df['Weekly_Sales'] / df['Customers']
df['Sales_per_Day'] = df['Weekly_Sales'] / df['Days_to_Holiday']
df['Sales_per_Week'] = df['Weekly_Sales'] / df['Week']

In [25]:
df.isna().sum()

Store                  0
DayOfWeek              0
Date                   0
Sales                  0
Customers              0
Open                   0
Promo                  0
StateHoliday           0
SchoolHoliday          0
Weekday                0
Weekend                0
Days_to_Holiday        0
Days_after_Holiday     0
Month_Begin            0
Month_Middle           0
Month_End              0
Week                   0
Weekly_Sales           0
Sales_per_Customer    21
Sales_per_Day          0
Sales_per_Week         0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 21 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Store               1017209 non-null  int64
 1   DayOfWeek           1017209 non-null  int64
 2   Date                1017209 non-null  datetime64[ns]
 3   Sales               1017209 non-null  int64
 4   Customers           1017209 non-null  int64
 5   Open                1017209 non-null  int64
 6   Promo               1017209 non-null  int64
 7   StateHoliday        1017209 non-null  object
 8   SchoolHoliday       1017209 non-null  int64
 9   Weekday             1017209 non-null  int32
 10  Weekend             1017209 non-null  int64
 11  Days_to_Holiday     1017209 non-null  int64
 12  Days_after_Holiday  1017209 non-null  int64
 13  Month_Begin         1017209 non-null  int64
 14  Month_Middle        1017209 non-null  int64
 15  Month_End           1017209 non-null  int64
 16  Week                1017209 non-null  UInt32
 17  Weekly_Sales        1017209 non-null  int64
 18  Sales_per_Customer  1017188 non-null  float64
 19  Sales_per_Day       1017209 non-null  float64
 20  Sales_per_Week      1017209 non-null  Float64
dtypes: Float64(1), UInt32(1), datetime64[ns](1), float64(2), int32(1), int64(14), object(1)
memory usage: 157.2+ MB

In [29]:
df[SchoolHoliday].unique()

NameError: name 'SchoolHoliday' is not defined

In [ ]:
# one hote encode StateHoliday
Train_df = pd.get_dummies(Train_df, columns=['StateHoliday'])

KeyError: "None of [Index(['StateHoliday'], dtype='object')] are in the [columns]"

In [ ]:
Train_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,Weekday,Weekend,...,Week,Weekly_Sales,Sales_per_Customer,Sales_per_Day,Sales_per_Week,StateHoliday_0,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
0,1,5,2015-07-31,5263,555,1,1,1,4,0,...,31,88748,159.906306,94.312434,2862.83871,False,True,False,False,False
1,2,5,2015-07-31,6064,625,1,1,1,4,0,...,31,98899,158.238400,105.099894,3190.290323,False,True,False,False,False
2,3,5,2015-07-31,8314,821,1,1,1,4,0,...,31,140580,171.230207,149.394261,4534.83871,False,True,False,False,False
3,4,5,2015-07-31,13995,1498,1,1,1,4,0,...,31,186442,124.460614,198.131775,6014.258065,False,True,False,False,False
4,5,5,2015-07-31,4822,559,1,1,1,4,0,...,31,95080,170.089445,101.041445,3067.096774,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,1,1,0,...,1,65535,inf,inf,65535.0,False,False,True,False,False
1017205,1112,2,2013-01-01,0,0,0,0,1,1,0,...,1,119666,inf,inf,119666.0,False,False,True,False,False
1017206,1113,2,2013-01-01,0,0,0,0,1,1,0,...,1,85433,inf,inf,85433.0,False,False,True,False,False
1017207,1114,2,2013-01-01,0,0,0,0,1,1,0,...,1,286699,inf,inf,286699.0,False,False,True,False,False
1017208,1115,2,2013-01-01,0,0,0,0,1,1,0,...,1,77286,inf,inf,77286.0,False,False,True,False,False

In [ ]:
Train_df = Train_df.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
Train_df.describe()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,Weekday,Weekend,Days_to_Holiday,Days_after_Holiday,Month_Begin,Month_Middle,Month_End,Week,Weekly_Sales,Sales_per_Customer,Sales_per_Day,Sales_per_Week
count,1.017209e+06,1.017209e+06,1017209,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1017209.0,1.017209e+06,1.017188e+06,1.017209e+06,1017209.0
mean,5.584297e+02,3.998341e+00,2014-04-11 01:30:42.846061824,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01,2.998341e+00,2.845630e-01,4.650630e+02,4.759370e+02,3.291752e-02,3.291851e-02,1.902264e-02,23.615515,1.070192e+05,inf,inf,10744.370791
min,1.000000e+00,1.000000e+00,2013-01-01 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.0,0.000000e+00,1.543841e+01,0.000000e+00,0.0
25%,2.800000e+02,2.000000e+00,2013-08-17 00:00:00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.280000e+02,2.310000e+02,0.000000e+00,0.000000e+00,0.000000e+00,11.0,7.593000e+04,1.209841e+02,1.373114e+02,2434.702703
50%,5.580000e+02,4.000000e+00,2014-04-02 00:00:00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,4.560000e+02,4.850000e+02,0.000000e+00,0.000000e+00,0.000000e+00,22.0,9.969000e+04,1.587042e+02,2.190192e+02,5174.1
75%,8.380000e+02,6.000000e+00,2014-12-12 00:00:00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00,5.000000e+00,1.000000e+00,7.100000e+02,7.130000e+02,0.000000e+00,0.000000e+00,0.000000e+00,35.0,1.294570e+05,2.264806e+02,4.320390e+02,10353.8
max,1.115000e+03,7.000000e+00,2015-07-31 00:00:00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00,1.000000e+00,9.410000e+02,9.410000e+02,1.000000e+00,1.000000e+00,1.000000e+00,52.0,5.241100e+05,inf,inf,388244.0
std,3.219087e+02,1.997391e+00,NaN,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01,1.997391e+00,4.512063e-01,2.744541e+02,2.744541e+02,1.784208e-01,1.784234e-01,1.366045e-01,14.433381,4.655975e+04,NaN,NaN,17561.685274

In [ ]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 21 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Store               1017209 non-null  int64
 1   DayOfWeek           1017209 non-null  int64
 2   Date                1017209 non-null  datetime64[ns]
 3   Sales               1017209 non-null  int64
 4   Customers           1017209 non-null  int64
 5   Open                1017209 non-null  int64
 6   Promo               1017209 non-null  int64
 7   StateHoliday        1017209 non-null  object
 8   SchoolHoliday       1017209 non-null  int64
 9   Weekday             1017209 non-null  int32
 10  Weekend             1017209 non-null  int64
 11  Days_to_Holiday     1017209 non-null  int64
 12  Days_after_Holiday  1017209 non-null  int64
 13  Month_Begin         1017209 non-null  int64
 14  Month_Middle        1017209 non-null  int64
 15  Month_End           1017209 non-null  int64
 16  Week                1017209 non-null  UInt32
 17  Weekly_Sales        1017209 non-null  int64
 18  Sales_per_Customer  1017188 non-null  float64
 19  Sales_per_Day       1017209 non-null  float64
 20  Sales_per_Week      1017209 non-null  Float64
dtypes: Float64(1), UInt32(1), datetime64[ns](1), float64(2), int32(1), int64(14), object(1)
memory usage: 157.2+ MB

## spliting the dataset

In [ ]:
# matrix of features the sales column is out prediction target
X = Train_df.drop(['Sales', 'Date'], axis=1)
y = Train_df['Sales']

In [ ]:
# split the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train.head()

,Store,DayOfWeek,Customers,Open,Promo,StateHoliday,SchoolHoliday,Weekday,Weekend,Days_to_Holiday,Days_after_Holiday,Month_Begin,Month_Middle,Month_End,Week,Weekly_Sales,Sales_per_Customer,Sales_per_Day,Sales_per_Week
417683,344,7,0,0,0,0,0,6,1,537,404,0,0,0,25,174817,inf,325.543762,6992.68
659402,108,7,0,0,0,0,0,6,1,320,621,0,0,0,46,55407,inf,173.146875,1204.5
739873,299,5,749,1,0,0,0,4,0,248,693,0,0,0,36,99206,132.451268,400.024194,2755.722222
109671,402,5,475,1,0,0,0,4,0,843,98,0,0,0,17,79409,167.176842,94.198102,4671.117647
422541,742,3,1049,1,1,0,0,2,0,533,408,0,0,0,25,151918,144.821735,285.024390,6076.72

In [ ]:
X_train.shape

(813767, 19)

In [ ]:
y_train.shape

(813767,)

In [ ]:
X_test.shape

(203442, 19)

In [ ]:
y_test.shape

(203442,)

In [ ]:
# feature scaling with standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Select only numeric features for scaling
numeric_features = X_train.select_dtypes(include=np.number).columns
X_train_numeric = X_train[numeric_features]
X_test_numeric = X_test[numeric_features]

# Apply StandardScaler to numeric features only
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_test_scaled = scaler.transform(X_test_numeric)

# If you need to keep the original DataFrame structure,
# you can reassign the scaled numeric features back to the original DataFrames:
#X_train[numeric_features] = X_train_scaled
#X_test[numeric_features] = X_test_scaled

ValueError: Input X contains infinity or a value too large for dtype('float64').

In [ ]:
# feature scatling with standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

ValueError: could not convert string to float: 'a'

In [ ]:
# feature scaling with standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Exclude 'Date' and other datetime-related columns from scaling
# Assuming 'Date', 'Days_to_Holiday', 'Days_after_Holiday' are datetime-related
datetime_cols = ['Date', 'Days_to_Holiday', 'Days_after_Holiday']
X_train_numeric = X_train.select_dtypes(exclude=['datetime64[ns]']) # Select only numeric columns for scaling

# If any datetime columns are still present, convert them to numeric representation like ordinal
# This example converts datetime columns to ordinal (number of days since epoch):
for col in datetime_cols:
    if col in X_train_numeric.columns:  # Check if the column is present
        X_train_numeric[col] = X_train_numeric[col].apply(lambda date: date.toordinal())  #  Convert the column to ordinal

# X_train_numeric = X_train.drop(columns=datetime_cols) # Drop datetime columns from features
X_train_scaled = scaler.fit_transform(X_train_numeric) # fit_transform on numeric features

# Apply the same transformation to X_test:
X_test_numeric = X_test.select_dtypes(exclude=['datetime64[ns]'])  # Select numeric columns
for col in datetime_cols:
    if col in X_test_numeric.columns:  # Check if the column is present
        X_test_numeric[col] = X_test_numeric[col].apply(lambda date: date.toordinal())  #  Convert the column to ordinal
# X_test_numeric = X_test.drop(columns=datetime_cols) # Drop datetime columns from features
X_test_scaled = scaler.transform(X_test_numeric)  #  Transform the test set using the fitted scaler

# You might want to reassemble the DataFrame if you dropped columns
# X_train = pd.concat([pd.DataFrame(X_train_scaled, index=X_train.index, columns=X_train_numeric.columns), X_train[datetime_cols]], axis=1)
# X_test = pd.concat([pd.DataFrame(X_test_scaled, index=X_test.index, columns=X_test_numeric.columns), X_test[datetime_cols]], axis=1)

# Reassign to the original variables
X_train = X_train_scaled
X_test = X_test_scaled

AttributeError: 'int' object has no attribute 'toordinal'

In [ ]:
# feature scaling with standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Exclude 'Date' and other datetime-related columns from scaling
# Assuming 'Date', 'Days_to_Holiday', 'Days_after_Holiday' are datetime-related
datetime_cols = ['Date', 'Days_to_Holiday', 'Days_after_Holiday']
X_train_numeric = X_train.select_dtypes(exclude=['datetime64[ns]']) # Select only numeric columns for scaling

# Instead of trying to convert 'Days_to_Holiday' and 'Days_after_Holiday' using toordinal,
# Since they are already numeric (representing days), we can directly scale them.
# If 'Date' is present, you might want to handle it differently,
# e.g., by extracting features like day, month, year, etc.

# Commenting out the problematic loop:
# for col in datetime_cols:
#     if col in X_train_numeric.columns:  # Check if the column is present
#         X_train_numeric[col] = X_train_numeric[col].apply(lambda date: date.toordinal())  # Convert the column to ordinal

# X_train_numeric = X_train.drop(columns=datetime_cols) # Drop datetime columns from features
X_train_scaled = scaler.fit_transform(X_train_numeric) # fit_transform on numeric features

# Apply the same transformation to X_test:
X_test_numeric = X_test.select_dtypes(exclude=['datetime64[ns]'])  # Select numeric columns
# Commenting out the loop for X_test as well:
# for col in datetime_cols:
#     if col in X_test_numeric.columns:  # Check if the column is present
#         X_test_numeric[col] = X_test_numeric[col].apply(lambda date: date.toordinal())  #  Convert the column to ordinal

# X_test_numeric = X_test.drop(columns=datetime_cols) # Drop datetime columns from features
X_test_scaled = scaler.transform(X_test_numeric)  #  Transform the test set using the fitted scaler

# You might want to reassemble the DataFrame if you dropped columns
# X_train = pd.concat([pd.DataFrame(X_train_scaled, index=X_train.index, columns=X_train_numeric.columns), X_train[datetime_cols]], axis=1)
# X_test = pd.concat([pd.DataFrame(X_test_scaled, index=X_test.index, columns=X_test_numeric.columns), X_test[datetime_cols]], axis=1)

# Reassign to the original variables
X_train = X_train_scaled
X_test = X_test_scaled

ValueError: could not convert string to float: 'a'

In [ ]:
#merge the Test_df and Train_df with inner join on store
df = pd.merge(Train_df, Test_df, how='inner', on='Store')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37115088 entries, 0 to 37115087
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   Store            int64
 1   DayOfWeek_x      int64
 2   Date_x           object
 3   Sales            int64
 4   Customers        int64
 5   Open_x           int64
 6   Promo_x          int64
 7   StateHoliday_x   object
 8   SchoolHoliday_x  int64
 9   Id               int64
 10  DayOfWeek_y      int64
 11  Date_y           object
 12  Open_y           float64
 13  Promo_y          int64
 14  StateHoliday_y   object
 15  SchoolHoliday_y  int64
dtypes: float64(1), int64(11), object(4)
memory usage: 4.4+ GB

In [ ]:
df.head(30)

,Store,DayOfWeek_x,Date_x,Sales,Customers,Open_x,Promo_x,StateHoliday_x,SchoolHoliday_x,Id,DayOfWeek_y,Date_y,Open_y,Promo_y,StateHoliday_y,SchoolHoliday_y
0,1,5,2015-07-31,5263,555,1,1,0,1,1,4,2015-09-17,1.0,1,0,0
1,1,5,2015-07-31,5263,555,1,1,0,1,857,3,2015-09-16,1.0,1,0,0
2,1,5,2015-07-31,5263,555,1,1,0,1,1713,2,2015-09-15,1.0,1,0,0
3,1,5,2015-07-31,5263,555,1,1,0,1,2569,1,2015-09-14,1.0,1,0,0
4,1,5,2015-07-31,5263,555,1,1,0,1,3425,7,2015-09-13,0.0,0,0,0
5,1,5,2015-07-31,5263,555,1,1,0,1,4281,6,2015-09-12,1.0,0,0,0
6,1,5,2015-07-31,5263,555,1,1,0,1,5137,5,2015-09-11,1.0,0,0,0
7,1,5,2015-07-31,5263,555,1,1,0,1,5993,4,2015-09-10,1.0,0,0,0
8,1,5,2015-07-31,5263,555,1,1,0,1,6849,3,2015-09-09,1.0,0,0,0
9,1,5,2015-07-31,5263,555,1,1,0,1,7705,2,2015-09-08,1.0,0,0,0
10,1,5,2015-07-31,5263,555,1,1,0,1,8561,1,2015-09-07,1.0,0,0,0
11,1,5,2015-07-31,5263,555,1,1,0,1,9417,7,2015-09-06,0.0,0,0,0
12,1,5,2015-07-31,5263,555,1,1,0,1,10273,6,2015-09-05,1.0,0,0,0
13,1,5,2015-07-31,5263,555,1,1,0,1,11129,5,2015-09-04,1.0,1,0,1
14,1,5,2015-07-31,5263,555,1,1,0,1,11985,4,2015-09-03,1.0,1,0,1
15,1,5,2015-07-31,5263,555,1,1,0,1,12841,3,2015-09-02,1.0,1,0,1
16,1,5,2015-07-31,5263,555,1,1,0,1,13697,2,2015-09-01,1.0,1,0,1
17,1,5,2015-07-31,5263,555,1,1,0,1,14553,1,2015-08-31,1.0,1,0,1
18,1,5,2015-07-31,5263,555,1,1,0,1,15409,7,2015-08-30,0.0,0,0,1
19,1,5,2015-07-31,5263,555,1,1,0,1,16265,6,2015-08-29,1.0,0,0,1
20,1,5,2015-07-31,5263,555,1,1,0,1,17121,5,2015-08-28,1.0,0,0,1
21,1,5,2015-07-31,5263,555,1,1,0,1,17977,4,2015-08-27,1.0,0,0,1
22,1,5,2015-07-31,5263,555,1,1,0,1,18833,3,2015-08-26,1.0,0,0,1
23,1,5,2015-07-31,5263,555,1,1,0,1,19689,2,2015-08-25,1.0,0,0,1
24,1,5,2015-07-31,5263,555,1,1,0,1,20545,1,2015-08-24,1.0,0,0,1
25,1,5,2015-07-31,5263,555,1,1,0,1,21401,7,2015-08-23,0.0,0,0,1
26,1,5,2015-07-31,5263,555,1,1,0,1,22257,6,2015-08-22,1.0,0,0,1
27,1,5,2015-07-31,5263,555,1,1,0,1,23113,5,2015-08-21,1.0,1,0,1
28,1,5,2015-07-31,5263,555,1,1,0,1,23969,4,2015-08-20,1.0,1,0,1
29,1,5,2015-07-31,5263,555,1,1,0,1,24825,3,2015-08-19,1.0,1,0,1

In [ ]:
df.shape

(37115088, 16)

In [ ]:
# check for the missing value
df.isnull().sum()

Store                  0
DayOfWeek_x            0
Date_x                 0
Sales                  0
Customers              0
Open_x                 0
Promo_x                0
StateHoliday_x         0
SchoolHoliday_x        0
Id                     0
DayOfWeek_y            0
Date_y                 0
Open_y             10362
Promo_y                0
StateHoliday_y         0
SchoolHoliday_y        0
dtype: int64

In [ ]:
#merge the Test_df and Train_df with outer join
df = pd.merge(Train_df, Test_df, how='outer')

In [ ]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id
0,1,1,2015-02-09,3965.0,501.0,1.0,0.0,0,0.0,NaN
1,1,1,2015-02-16,4303.0,478.0,1.0,1.0,0,0.0,NaN
2,1,1,2015-02-23,3598.0,454.0,1.0,0.0,0,0.0,NaN
3,1,1,2015-03-02,5942.0,669.0,1.0,1.0,0,0.0,NaN
4,1,1,2015-03-09,3701.0,485.0,1.0,0.0,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
237303,1115,7,2015-08-16,NaN,NaN,0.0,0.0,0,1.0,28248.0
237304,1115,7,2015-08-23,NaN,NaN,0.0,0.0,0,1.0,22256.0
237305,1115,7,2015-08-30,NaN,NaN,0.0,0.0,0,1.0,16264.0
237306,1115,7,2015-09-06,NaN,NaN,0.0,0.0,0,0.0,10272.0
237307,1115,7,2015-09-13,NaN,NaN,0.0,0.0,0,0.0,4280.0

In [ ]:
# check for the missing value
df.isnull().sum()

Store                 0
DayOfWeek             0
Date                  0
Sales             41089
Customers         41089
Open                 12
Promo                 1
StateHoliday          1
SchoolHoliday         1
Id               196220
dtype: int64

In [ ]:
# describe
df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,Id
count,237308.000000,237308.000000,196219.000000,196219.000000,237296.000000,237307.000000,237307.000000,41088.000000
mean,557.590178,4.001007,5886.107497,625.698979,0.833845,0.378552,0.203955,20544.500000
std,321.571731,1.999248,3859.933323,455.644067,0.372221,0.485027,0.402937,11861.228267
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,279.000000,2.000000,3890.000000,411.000000,1.000000,0.000000,0.000000,10272.750000
50%,557.000000,4.000000,5903.000000,607.000000,1.000000,0.000000,0.000000,20544.500000
75%,836.000000,6.000000,7997.000000,823.000000,1.000000,1.000000,0.000000,30816.250000
max,1115.000000,7.000000,41551.000000,5458.000000,1.000000,1.000000,1.000000,41088.000000