In [3]:
import pandas as pd

In [4]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

# import from data_utils
from data_utils import load_data, column_summary

In [5]:
# Load data 
file_path = r'C:\Users\Maintenant prêt\Desktop\PROJECTS\Project5\Data\test.csv' 
df = load_data(file_path)

In [6]:
df

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [7]:
# Call column_summary function
summary_df = column_summary(df) 
display(summary_df)

,col_name,col_dtype,num_of_nulls,num_of_non_nulls,num_of_distinct_values
0,Id,int64,0,41088,41088
1,Store,int64,0,41088,856
2,DayOfWeek,int64,0,41088,7
3,Date,object,0,41088,48
4,Open,float64,11,41077,2
5,Promo,int64,0,41088,2
6,StateHoliday,object,0,41088,2
7,SchoolHoliday,int64,0,41088,2

In [ ]:
from data_utils import load_data, analyze_numericals

# Assuming you have loaded your data into a DataFrame named 'df'
data_analysis.analyze_numericals(df)

NameError: name 'df' is not defined